@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  padding-bottom: 200px;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: white;
  height: 60px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.158);
  display: flex;
  align-items: center;
}
header div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div:nth-child(1) {
  width: 20%;
  font-size: 20px;
}
header div:nth-child(1) a {
  color: black;
}
header div:nth-child(2) {
  width: 60%;
}
header div:nth-child(2) img {
  height: 70%;
  max-width: 100%;
}

main {
  position: relative;
}
main .localisation {
  cursor: pointer;
  width: 100%;
  height: auto;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 15px 0;
  font-weight: bold;
  color: #353535;
}
main .localisation i {
  margin-right: 15px;
}
main .explore {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 40px 0;
}
main .explore h1 {
  width: 70%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
main .explore p {
  width: 80%;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 20px;
}
main .explore a {
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.521);
  transition: 0.2s;
}
main .explore a:hover {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.74);
  background: linear-gradient(180deg, #ff8cde 0%, #9f6ddd 100%);
}
main .fonctionnement {
  width: 100%;
  padding: 40px 20px 40px 20px;
}
main .fonctionnement h2 {
  margin-bottom: 30px;
  font-weight: bold;
}
main .fonctionnement .languetteFonctionnementContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
main .fonctionnement .languetteFonctionnementContainer :last-child {
  margin-bottom: 0px;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement {
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.158);
  position: relative;
  padding: 25px 0 25px 40px;
  display: flex;
  align-items: center;
  width: 95%;
  margin-bottom: 25px;
  cursor: pointer;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement:hover {
  background-color: #f5edff;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement:hover :nth-child(2) {
  color: #9356dc;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement:active {
  background-color: #f5edff;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement:active :nth-child(2) {
  color: #9356dc;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement :nth-child(1) {
  background-color: #9356dc;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  left: -10px;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement :nth-child(2) {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #7e7e7e;
  margin-right: 20px;
}
main .fonctionnement .languetteFonctionnementContainer .languetteFonctionnement :nth-child(3) {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 17px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  main .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .fonctionnement h2 {
    width: 90%;
  }
  main .fonctionnement .languetteFonctionnementContainer {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  main .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .fonctionnement h2 {
    width: 90%;
  }
  main .fonctionnement .languetteFonctionnementContainer {
    width: 60%;
  }
}
main .restaurantsList {
  width: 100%;
  padding: 40px 20px 40px 20px;
  background-color: #f6f6f6;
}
main .restaurantsList .restaurantsListContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main .restaurantsList .restaurantsListContainer h2 {
  margin-bottom: 20px;
  font-weight: bold;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.158);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
  position: relative;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant a {
  position: absolute;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  z-index: 10;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .imageListResto {
  height: 130px;
  width: 100%;
  position: relative;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .imageListResto .etiquetteNouveau {
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  padding: 8px 10px;
  border-radius: 3px;
  top: 10px;
  right: 10px;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .imageListResto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .infosListResto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .infosListResto .infosListRestoLeft :nth-child(1) {
  font-weight: bold;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .infosListResto .infosListRestoRight {
  font-size: 20px;
  z-index: 11;
  pointer-events: all;
  position: relative;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .infosListResto .infosListRestoRight i {
  z-index: 11;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .infosListResto .infosListRestoRight i:nth-child(2) {
  display: none;
  pointer-events: none;
  background: -webkit-linear-gradient(transparent 50%, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  background-position: 100% 0%;
  font-size: 17px;
  right: 3px;
  top: -1px;
}
main .restaurantsList .restaurantsListContainer .carteListRestaurant .infosListResto .infosListRestoRight i:nth-child(1):hover + i:nth-child(2) {
  display: block;
  animation: remplissageCoeur 0.3s both ease;
}
@keyframes remplissageCoeur {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@media screen and (min-width: 768px) {
  main .restaurantsList {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .restaurantsList h2 {
    width: 80%;
  }
  main .restaurantsList .restaurantsListContainer {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
  main .restaurantsList .restaurantsListContainer .carteListRestaurant {
    width: 49%;
  }
}
@media screen and (min-width: 768px) {
  main .restaurantsList {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .restaurantsList h2 {
    width: 80%;
  }
  main .restaurantsList .restaurantsListContainer {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
  main .restaurantsList .restaurantsListContainer .carteListRestaurant {
    width: 49%;
  }
}
main .menuContainer {
  width: 100%;
  padding-top: 210px;
  position: relative;
  z-index: 1;
}
main .menuContainer img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  height: 230px;
}
main .menuContainer .menu {
  width: 100%;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 40px 20px 70px 20px;
}
main .menuContainer .menu .titreEtLikeRestaurant {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
main .menuContainer .menu .titreEtLikeRestaurant h1 {
  font-family: "Shrikhand", cursive;
  font-size: 23px;
}
main .menuContainer .menu .titreEtLikeRestaurant i {
  cursor: pointer;
  font-size: 23px;
  position: absolute;
  right: 0;
  transform: translate(-50%, -50%);
  top: 50%;
}
main .menuContainer .menu .titreEtLikeRestaurant i:nth-child(3) {
  pointer-events: none;
  pointer-events: none;
  font-size: 19px;
  right: 4px;
}
main .menuContainer .menu .titreEtLikeRestaurant i:nth-child(2):hover + i:nth-child(3) {
  display: block;
  animation: remplissageCoeur 0.3s both ease;
}
main .menuContainer .menu .titreEtLikeRestaurant :nth-child(3) {
  display: none;
  background: -webkit-linear-gradient(transparent 50%, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  background-position: 100% 0%;
}
main .menuContainer .menu .partieDuMenu {
  width: 100%;
  margin-top: 30px;
}
main .menuContainer .menu .partieDuMenu:nth-child(2) {
  animation: 0.4s linear 0.3s both apparition;
}
main .menuContainer .menu .partieDuMenu:nth-child(3) {
  animation: 0.4s linear 0.8s both apparition;
}
main .menuContainer .menu .partieDuMenu:nth-child(4) {
  animation: 0.4s linear 1.2s both apparition;
  margin-bottom: 50px;
}
main .menuContainer .menu .partieDuMenu h2 {
  text-transform: uppercase;
  font-size: 15px;
  color: #3d3d3d;
  position: relative;
  width: auto;
}
main .menuContainer .menu .partieDuMenu h2::after {
  content: "";
  position: absolute;
  width: 40px;
  bottom: -7px;
  left: 0;
  border-bottom: 3px solid #99e2d0;
  text-align: center;
}
main .menuContainer .menu .partieDuMenu .plat {
  width: 100%;
  height: 75px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.158);
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
main .menuContainer .menu .partieDuMenu .plat .titreEtdescriptionEtPrixPlat {
  width: 95%;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
main .menuContainer .menu .partieDuMenu .plat .titreEtdescriptionEtPrixPlat .titrePlat {
  font-weight: bold;
  font-size: 19px;
  padding: 13px 0 0 10px;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .menuContainer .menu .partieDuMenu .plat .titreEtdescriptionEtPrixPlat .descriptionEtPrixPlat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 13px 10px;
  line-height: 25px;
}
main .menuContainer .menu .partieDuMenu .plat .titreEtdescriptionEtPrixPlat .descriptionEtPrixPlat span:nth-child(1) {
  color: #3d3d3d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .menuContainer .menu .partieDuMenu .plat .titreEtdescriptionEtPrixPlat .descriptionEtPrixPlat span:nth-child(2) {
  font-weight: bold;
}
main .menuContainer .menu .partieDuMenu .plat .choisirPlat {
  background-color: #99e2d0;
  color: white;
  width: 70px;
  height: 75px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
  display: flex;
  position: absolute;
  right: -70px;
}
@keyframes turnAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .menuContainer .menu .partieDuMenu .plat:hover .titreEtdescriptionEtPrixPlat {
  width: 75%;
}
main .menuContainer .menu .partieDuMenu .plat:hover .choisirPlat i {
  animation: 0.4s linear both running turnAround;
}
main .menuContainer .menu .partieDuMenu .plat:hover .choisirPlat {
  right: 0px;
}
@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
main .menuContainer .menu .boutonCommander {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .menuContainer .menu .boutonCommander a {
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.521);
  transition: 0.2s;
}
main .menuContainer .menu .boutonCommander a:hover {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.74);
  background: linear-gradient(180deg, #ff8cde 0%, #9f6ddd 100%);
}
@media screen and (min-width: 768px) {
  main .menuContainer .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .menuContainer .menu .partieDuMenu {
    width: 80%;
  }
  main .menuContainer .menu .partieDuMenu .plat:hover .titreEtdescriptionEtPrixPlat {
    width: 85%;
  }
}
@media screen and (min-width: 992px) {
  main .menuContainer .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .menuContainer .menu .titreEtLikeRestaurant {
    width: 80%;
  }
  main .menuContainer .menu .partieDuMenu {
    width: 80%;
  }
  main .menuContainer .menu .partieDuMenu .plat:hover .titreEtdescriptionEtPrixPlat {
    width: 85%;
  }
}
main .loadingSpinner {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #99e2d0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 0.3s linear 3s forwards running apparitionDuSpinner;
}
@keyframes apparitionDuSpinner {
  from {
    opacity: 100%;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
main .loadingSpinner svg {
  width: 70%;
}
main .loadingSpinner .lettreSpinner {
  opacity: 0;
}
@keyframes annimationDuSpinner {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
main .loadingSpinner .lettreSpinner:nth-child(1) {
  animation: 0.2s linear forwards running annimationDuSpinner;
}
main .loadingSpinner .lettreSpinner:nth-child(2) {
  animation: 0.2s linear 0.3125s forwards running annimationDuSpinner;
}
main .loadingSpinner .lettreSpinner:nth-child(3) {
  animation: 0.2s linear 0.625s forwards running annimationDuSpinner;
}
main .loadingSpinner .lettreSpinner:nth-child(4) {
  animation: 0.2s linear 0.9375s forwards running annimationDuSpinner;
}
main .loadingSpinner .lettreSpinner:nth-child(5) {
  animation: 0.2s linear 1.25s forwards running annimationDuSpinner;
}
main .loadingSpinner .lettreSpinner:nth-child(6) {
  animation: 0.2s linear 1.5625s forwards running annimationDuSpinner;
}
main .loadingSpinner .lettreSpinner:nth-child(7) {
  animation: 0.2s linear 1.875s forwards running annimationDuSpinner;
}
main .loadingSpinner .lettreSpinner:nth-child(8) {
  animation: 0.2s linear 2.1875s forwards running annimationDuSpinner;
}

footer {
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
}
footer div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer div h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
}
footer div a {
  text-decoration: none;
  color: white;
  width: 100%;
  line-height: 28px;
}
footer div a:nth-child(2) i {
  font-size: 12px;
}
footer div a i {
  margin-right: 10px;
}
footer div a:hover {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
  }
  footer div {
    align-items: center;
  }
  footer div h3 {
    font-size: 35px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    flex-direction: row;
  }
  footer div {
    align-items: center;
  }
  footer div h3 {
    font-size: 35px;
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
